@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    /* add smooth scroll */
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/* dark mode */
:root {
    --background: rgb(17, 26, 48);
    --heading-color: rgb(238, 238, 238);
    --content-color: rgb(171, 187, 211);
    --light-blue: rgb(17, 188, 255);
    --gradient: linear-gradient(90deg, var(--light-blue) 0%, rgb(89, 208, 255) 50%, rgb(49, 224, 255) 100%);;
    --white: rgb(255, 255, 255);
    --grey: rgb(148, 163, 184);
    --border-nav: rgba(29, 37, 55, .8);
    --primary-color: rgb(50, 62, 88);
    --jump-btn: rgb(36, 45, 65);
    --sidebar: rgb(17, 26, 48);
    --pure: white;
    --glass-effect: rgba(15, 23, 42, .8);
    --alert: rgb(14, 21, 39);
    --bg-circle: rgb(36, 45, 65);
    --btn-gradient: linear-gradient(100deg, var(--light-blue) 0%, rgb(0, 217, 255) 100%);
}

/* light mode */
body.light {
    --background: rgb(240, 248, 255);
    --heading-color: rgb(51, 51, 51);
    --content-color: rgb(51, 51, 51);
    --light-blue: rgb(52, 179, 241);
    --gradient: linear-gradient(90deg, var(--light-blue) 0%, var(--light-blue) 100%);
    --grey: rgb(148, 163, 184);
    --border-nav: rgba(221, 221, 221, .8);
    --primary-color: rgb(221, 221, 221);
    --jump-btn: rgb(52, 179, 241);
    --sidebar: aliceblue;
    --pure: black;
    --glass-effect: rgba(240, 248, 255, .8);
    --alert: rgb(239, 247, 255);
    --bg-circle: #eee;
    --btn-gradient: linear-gradient(100deg, var(--light-blue) 0%, var(--light-blue) 100%);
}

::selection {
    background-color: var(--light-blue);
    color: var(--white);
}

/* custom scrollbar */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    display: none;
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, var(--light-blue) 0%, rgb(102, 212, 255));
    border-radius: 20px;      
}


/* reveal element animation (dark mode)*/
.section {
    opacity: .2;
    transition: .3s linear;
    transform: translateY(10px);
}

.section.reveal {
    opacity: 1;
    transform: translateY(0);
}


/* reveal element animation (light mode)*/
body.light .section {
    opacity: .3;
    transition: .3s linear;
}

body.light .section.reveal {
    opacity: 1;
}

/* body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: var(--content-color);
    transition: .2s linear;
    font-size: 1em;
}

/* other element */
body.dark .btn {
    padding: 10px 20px;
    background-image: linear-gradient(100deg, var(--light-blue) 0%, rgb(0, 217, 255) 100%);
    border-radius: 7px;
    transition: .15s;
    color: var(--white);
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .6);
    transition: .3s;
}

.btn {
    padding: 10px 20px;
    background: var(--light-blue);
    border-radius: 7px;
    transition: .15s;
    color: var(--white);
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .6);
    transition: .3s;
}

.btn:hover {
    text-shadow: 0 0 3px rgba(0,0,0,0.3);
    background-color: rgb(41, 130, 175);
}

/* ------------------------------------ achievements -------------------------------------------- */
.achievements {
    cursor: pointer;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(90deg, var(--light-blue) 0%, rgb(0, 217, 255) 100%); */
    background-image: var(--gradient);
    z-index: -1;
    transition: opacity .2s;
}

.achievements:hover {
    opacity: .85;
}


.achievements span {
    color: var(--white);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .6);
    font-size: 14px;
    font-weight: 600;
    position: relative;
}

.achievements span::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--heading-color);
    transition: 300ms;
    width: 0;
}

.achievements:hover span::after {
    width: 100%;
}

.main-achievements {
    max-width: 100%;
    margin: 60px 20px;
}

.main-achievements .container-achievements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.main-achievements .container-achievements li img {
    width: 400px;
    height: 300px;
    max-width: 100%;
    border-radius: 5px;
    border: 3px groove var(--light-blue);
    filter: drop-shadow(0 0 1px var(--heading-color)) blur(3px);
    padding: 5px;
    cursor: zoom-in;
    transform: scale(1);
    transition: .3s;
}

.main-achievements .container-achievements li img:hover {
    transform: scale(1.03);
    opacity: .8;
}

.main-achievements .modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background-color: rgba(0,0,0,.9);
    padding-top: 50px;
    height: 100%;
}

.main-achievements .modal .container-img {
    display: flex;
    max-width: 800px;
    position: relative;
    padding: 10px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.main-achievements .modal .container-img .download-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--glass-effect);
    padding: 5px 30px;
    border: 2px solid var(--heading-color);
    color: var(--heading-color);
    border-radius: 5px;
    position: absolute;
    top: -37px;
    cursor: pointer;
    transition: .2s;
}

.main-achievements .modal .container-img .download-btn:hover {
    opacity: .8;
}


.main-achievements .modal .container-img .close-modal-btn {
    position: absolute;
    right: 15px;
    top: -33px;
    color: var(--white);
    cursor: pointer;
    border: 2px solid var(--heading-color);
    background-color: var(--glass-effect);
    padding: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-achievements .modal .container-img .close-modal-btn:hover {
    opacity: .8;
}

.main-achievements .modal .container-img .modal-img {
    margin: auto;
    max-width: 100%;
    animation: zoom-out .3s;
}

/* ------------------------------------ navbar desktop (header) --------------------------------- */
header {
    z-index: 100;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 120px;
    border-bottom: 1px solid transparent;
    transition: .3s linear;
    backdrop-filter: blur(8px);
}

header.border {
    background-color: var(--glass-effect);
    border-bottom: 1px solid var(--border-nav);
}

header.hidden, 
header.border.hidden {
    transition: .4s linear;
    background-color: transparent;
    border-bottom: 1px solid transparent;
}

header .logos {
    font-size: 1.4em;
    color: var(--heading-color);
    font-weight: bold;
    z-index: -999;
    transition: .1s;
    transition-delay: .2s;
}

header .logos.hidden {
    opacity: 0;
}

header nav .nav-links li {
    display: inline;
    margin: 0 20px;
}

header .nav-desktop .nav-links li .anchor {
    cursor: pointer;
    color: var(--heading-color);
    font-weight: 600;
    position: relative;
    transition: .2s linear;
}

header .nav-desktop .nav-links li .anchor::after {
    display: block;
    position: absolute;
    content: '';
    left: 0;
    bottom: -5px;
    height: 3px;
    border-radius: 30px;
    background-color: var(--heading-color);
    transition: .2s linear;
    width: 0;
}

header .nav-desktop .nav-links li .anchor.active::after {
    width: 100%;
}

header .nav-desktop .nav-links li .anchor:hover {
    color: var(--light-blue);
}

header .nav-desktop .nav-links li .anchor:hover::after {
    background-color: var(--light-blue);
}

header .nav-desktop .nav-links li .anchor.btn {
    color: var(--white);
}

header .nav-desktop .nav-links li .anchor.btn::after {
    width: 0;
}

header .nav-desktop .nav-links li .theme {
    width: 28px;
    position: absolute;
    cursor: pointer;
    z-index: 9999;
    transition: .2s linear;
}

header .nav-desktop .nav-links li .theme.light {
    animation: rotate .2s linear forwards;
}

header .nav-desktop .nav-links li .theme.dark {
    animation: reverse-rotate .2s linear forwards;
}

/* --------------------------------- navbar mobile (header) --------------------------------------- */
header .nav-mobile {
    display: none;
}

header .nav-mobile .menu {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 9999;
    position: relative;
}

header .nav-mobile .menu span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--heading-color);
    border-radius: 20px;
    transition: .2s;
}

header .nav-mobile .menu span:nth-child(1){
    top: 0;
    transform: rotate(0deg);
}

header .nav-mobile .menu span:nth-child(2){
    width: 80%;
    top: 10px;
}

header .nav-mobile .menu span:nth-child(3){
    bottom: 0;
    transform: rotate(0deg);
}

header .nav-mobile .menu.open span:nth-child(1){
    top: 10px;
    transform: rotate(135deg);
}

header .nav-mobile .menu.menu.open span:nth-child(2){
    opacity: 0;
}

header .nav-mobile .menu.open span:nth-child(3){
    top: 10px;
    transform: rotate(-135deg);
}

header .nav-mobile .sidebar {
    overflow-x: hidden;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    gap: 60px;
    padding-top: 120px;
    width: 0;
    height: 100vh;
    transition: .8s ease;
    z-index: 999;
}

header .nav-mobile .sidebar.open {
    width: 100%;
}

header .nav-mobile .sidebar li {
    transform: translateX(300px);
    text-align: center;
    transition: .8s;
}

header .nav-mobile .sidebar.open li {
    display: block;
    transform: translateX(0px);
}

header .nav-mobile .sidebar li .anchor-mobile {
    color: var(--heading-color);
    position: relative;
    font-weight: 600;
    transition: .2s linear;
}

header .nav-mobile .sidebar li .anchor-mobile::after {
    display: block;
    position: absolute;
    content: '';
    left: 0;
    bottom: -5px;
    height: 3px;
    border-radius: 30px;
    background-color: var(--heading-color);
    transition: .2s linear;
    width: 0;
}

header .nav-mobile .sidebar li .anchor-mobile.active::after {
    width: 100%;
}


header .nav-mobile .sidebar li .anchor-mobile:hover::after {
    background-color: var(--light-blue);
}

header .nav-mobile .sidebar li .anchor-mobile:hover {
    color: var(--light-blue);
}

header .nav-mobile .sidebar li .anchor-mobile.btn {
    color: var(--white);
    transition: .2s linear;
}

header .nav-mobile .sidebar li .anchor-mobile.btn::after {
    width: 0;
}

header .nav-mobile .sidebar li .theme-mobile {
    width: 32px;
    cursor: pointer;
}

header .nav-mobile .sidebar li .theme-mobile.light {
    animation: rotate .2s linear forwards;
}

header .nav-mobile .sidebar li .theme-mobile.dark {
    animation: reverse-rotate .2s linear forwards;
}

.sidebar-bg {
    position: fixed;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    top: 55px;
    right: 10px;
    bottom: 0;
    transform: scale(0);
    background-color: var(--sidebar);
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 99;
}

.sidebar-bg.sticky {
    top: 13px;
    right: 12px;
}

.sidebar-bg.open {
    transform: scale(40);
    opacity: 1;
}

/* -------------------------------------- jumbotron / home (main) ------------------------------------------------ */
main {
    margin: 70px 120px 0 120px;
}

main .jumbotron span,
main aside span {
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* jumbotron */
main .jumbotron.section {
    text-align: center;
    padding: 0 0 120px 0;
    max-width: 900px;
    margin: auto;
}

main .jumbotron .say-hello{
    margin: auto;
    width: max-content;
    font-weight: 600;
    font-size: 24px;
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main .jumbotron h1 {
    line-height: 55px;
    font-size: 46px;
    margin: 0 0 20px 0;
    color: var(--heading-color);
}

@keyframes reveal {
    1%{opacity: 0;}
    100%{opacity: 1;}
}

main .jumbotron .subtitle {
    font-size: 1.1em;
    margin-bottom: 40px;
}   

main .btn.follow:hover {
    color: var(--heading-color);
    background: none;
    border: 1px solid var(--light-blue);
}

main .links {
    display: flex;
    justify-content: center;
}

main .links a {
    color: var(--heading-color);
    margin: 40px 20px;
    display: inline-block;
    transition: .3s;
}

main .links li {
    cursor: pointer;
}

main .links li:hover a {
    transform: translateY(-10px);
}
/* ------------------------------------------- aside / about me (main) --------------------------------------------- */
main aside {
    display: flex;
    padding-bottom: 100px;
}

main h2 {
    color: var(--heading-color);
    font-size: 1.4em;
}

main h2::after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 80px;
    background-color: var(--light-blue);
    border-radius: 30px;
}

main aside article {
    display: flex;
    flex-direction: column;
}

main aside article .profile {
    border-radius: 50%;
    border: 5px solid var(--light-blue);
    padding: 6px;
    transition: .3s;
    margin: 3.5em 2em 0 auto;
    width: 312px;
    height: 312px;
    overflow: hidden;
    position: relative;
}

main aside article .me {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: blur(3px);
    cursor: pointer;
}



main aside article section h3 {
    color: var(--heading-color);
    font-size: 1.2em;
}

main aside article:nth-child(1) {
    flex: 1;
}

main aside article:nth-child(2) {
    padding-top: 50px;
    flex: 2;
}

main aside article section:nth-child(1),
main aside article section:nth-child(2){
    padding-bottom: 1em;
}

main aside article section p {
    margin-top: 1em;
}

main aside article section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

main aside article section ul li {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: .2s;
    padding: 8px;
    background-color: var(--bg-circle);
    border-radius: 50%;
    width: 48px;
    height: 48px;
}


main aside article section ul li img{
    cursor: pointer;
    width: 80%;
    height: 80%;
    margin: 0;
    transition: .2s;
}

main aside article section ul li .skill-text {
    position: absolute;
    background-image: none;
    -webkit-text-fill-color: var(--content-color);
    z-index: -1;
    bottom: -30px;
    text-align: center;
    transition: .2s;
    font-size: 14px;
    transform: scale(0);
}

main aside article section ul li:hover {
    transform: scale(1.15);
    filter: opacity(.6);
    cursor: pointer;
}

main aside article section ul li:hover span {
    transform: scale(1);
}

/* ----------------------------------------- projects (main) ------------------------------------- */
main .projects {
    padding-bottom: 120px;
}

main .projects section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 2em;
}

main .projects .details {
    display: none;
    gap: 30px;
    flex-direction: column;
}

main .projects .details.reveal {
    display: flex;
}

main .projects section figure figcaption {
    color: var(--heading-color);
    font-size: 18px;
    font-weight: 600;
    padding: 0 0 5px 5px;
}

main .projects section figure img {
    width: 600px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    filter: drop-shadow(0 0 1px var(--heading-color)) blur(3px);
    border: 1px solid var(--light-blue);
    padding: 5px;
}

main .projects section figure .view {
    display: flex;
    padding: 20px 0;
    gap: 20px;
}

main .projects section figure .view a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--content-color);
    font-size: 14px;
    border: 1px solid var(--primary-color);
    padding: 10px 20px;
}

main .projects section figure .view a:hover {
    color: var(--pure);
}

main .projects .details-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 140px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
}

main .projects .details-btn i {
    padding-left: 5px;
    animation: up-down 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

@keyframes up-down {
    10% {transform: translateY(-2px);}
    20% {transform: translateY(2px);}
    30% {transform: translateY(-2px);}
    40% {transform: translateY(2px);}
    50% {transform: translateY(-2px);}
    60% {transform: translateY(2px);}
    70% {transform: translateY(-2px);}
    80% {transform: translateY(2px);}
    90% {transform: translateY(-2px);}
    100% {transform: translateY(2px);}
}

/* ----------------------------------------- contact (main) -------------------------------------- */

main .contact {
    padding-bottom: 120px;
}

main .contact ul {
    display: flex;
    margin-top: 2em;
    gap: 40px;
}

main .contact ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

main .contact ul li a:hover img{
    transform: translateY(-20px);
}

main .contact ul li a:hover span {
    color: var(--content-color);
    bottom: -20px;
}

main .contact ul li a img {
    height: auto;
    width: 100%;
    transition: .3s;
    -webkit-filter: drop-shadow(3px 3px 0 var(--content-color));
    filter: drop-shadow(3px 3px 0 var(--content-color));
}

main .contact ul li a span {
    position: absolute;
    color: transparent;
    bottom: 0;
    transition: .3s;
}

/* ---------------------------------------- footer -------------------------------------------- */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px;
    font-size: .8em;
    box-shadow: 0 0 3px 1px var(--border-nav);
}

footer .github span {
    margin-left: 10px;
    color: var(--content-color);
    transition: .2s;
}

footer .github:hover span{
    color: var(--heading-color);
}

footer .github i {
    color: var(--heading-color);
}

/* ------------------------------- jump to top button ------------------------------------------ */
.jump-to-top {
    cursor: pointer;
    position: fixed;
    right: 30px;
    bottom: 30px;
    color: var(--heading-color);
    cursor: pointer;
    font-size: 20px;
    transition: .3s;
    transform: translateY(120px);
    background-color: var(--jump-btn);
    color: var(--white);
    padding: 8px 15px;
    border-radius: 10px;
}

.jump-to-top.reveal {
    transform: translateY(0px);
}

.jump-to-top.reveal:hover {
    transform: translateY(10px);
}

/* ------------------------------- info pop up ------------------------------------------ */
.alert {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: -200px;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: var(--alert);
    color: var(--border-nav);
    padding: 20px;
    font-size: 1.1em;
    transition: .6s;
    opacity: 0;
    color: var(--heading-color);
    border-bottom: 1px solid var(--border-nav);
}

.alert.reveal {
    top: 0;
    opacity: 1;
}

.alert span {
    font-weight: bold;
}

.alert .close-btn {
    color: var(--white);
    font-weight: 600;
    font-size: .8em;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 7px;
    transition: .2s;
    background-color: var(--light-blue);
}

.alert .close-btn:hover {
    transform: translateY(-5px);
    opacity: .8;

}
/* -------------------------------------- loading animation ----------------------------------- */
.loader-container {
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgb(15, 23, 42);
    z-index: 999999;
    transition: 1s cubic-bezier(.17,.67,.83,.67);
    transform: translateY(0);
    
}

.loader-container.loaded {
    transform: translateY(-1000px);
}

.loader {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    perspective: 800px;
}
  
.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
}
  
.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid var(--light-blue);
}
  
.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid var(--light-blue);
}
  
.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid var(--light-blue);
}
  
  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }

/* --------------------------------------- animation ------------------------------------------ */
@keyframes fade {
    5% {opacity: 0;}
    10%{opacity: 1;}
    15%{opacity: 0;}
    20%{opacity: 1;}
    25%{opacity: 0;}
    30%{opacity: 1;}
    35%{opacity: 0;}
    40%{opacity: 1;}
    45%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 1;}
}

@keyframes zoom-out {
    from{transform: scale(0);}
    to{transform: scale(1);}
}

@keyframes zoom-in {
    from{transform: scale(1);}
    to{transform: scale(0);}
}

@keyframes rotate {
    from{transform: scale(0) rotate(0);}
    to{transform: scale(1) rotate(360deg);}
}

@keyframes reverse-rotate {
    from{transform: scale(0) rotate(360deg);}
    to{transform: scale(1) rotate(0deg);}
}

@keyframes blinked {
    33%{opacity: 0;}
    66%{opacity: 1;}
}

/* ------------------------------------ css helper -------------------------------------------- */
.container {
    padding: 20px;
}

.heading-color {
    color: var(--heading-color);
}

.content-color {
    color: var(--content-color);
}

.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.pointer {
    cursor: pointer;
}
/* ---------------------------------- responsive ----------------------------------------------- */
@media screen and (max-width: 1100px){
    header {
        padding: 20px 60px;
    }

    main {
        margin: 70px 60px 0 60px;
    }

    footer {
        padding: 30px 60px;
    }
}

@media screen and (max-width: 866px){
    header {
        padding: 20px 40px;
    }

    header .nav-desktop {
        display: none;
    }

    header .nav-mobile {
        display: flex;
    }

    .sidebar-bg {
        display: flex;
    }

    main {
        margin: 70px 40px 0 40px;
    }

    main .jumbotron h1 {
        font-size: 38px;
    }

    main aside {
        flex-direction: column;
    }

    main aside article .profile {
        margin: 3em auto 0 auto;
    }

    footer {
        padding: 30px 40px;
    }
}

@media screen and (max-width: 768px){
    main .contact ul{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 665px){
    .main-achievements .modal {
        padding-top: 140px;
    }

    .alert {
        justify-content: center;
        text-align: center;
        gap: 15px;
    }
}

@media screen and (max-width: 550px){
    header{
        padding: 20px 20px;
    }

    main {
        margin: 30px 20px 0 20px;
    }

    main .jumbotron {
        padding: 0 0 120px 0;
    }

    main .jumbotron .say-hello{
        font-size: 20px;
    }

    main .jumbotron h1 {
        font-size: 30px;
        line-height: 42px;
    }

    footer {
        padding: 30px 20px;
    }
}

@media screen and (max-width: 480px){
    main aside article .profile {
        width: 204px;
        height: 204px;
    }

    main aside {
        padding-bottom: 80px;
    }

    main .projects {
        padding-bottom: 80px;
    }
    
    main .contact {
        padding-bottom: 60px;
    }

    .main-achievements .modal {
        padding-top: 180px;
    }
    
    footer {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}

@media screen and (max-width: 416px){
    .main-achievements .container-achievements li img {
        height: 250px;
    }

    .main-achievements .modal {
        padding-top: 200px;
    }
}

@media screen and (max-width: 400px){
    main .jumbotron h1 {
        font-size: 25px;
    }

    main .jumbotron .say-hello {
        font-size: 18px;
    }

    main .jumbotron .subtitle {
        font-size: 16px;
    }
}